.comp {
  display: flex;
  flex-direction: column;
  padding: 21px 0;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 15px 0;
}

.section {
  padding: 0 35px;

  &--hero {
    padding: 0 31px;
    margin-bottom: 36px;
  }

  &--info {
    display: flex;
    flex-direction: column;
    gap: 14px 0;
    margin-bottom: 36px;
  }

  &--button {
    padding: 0 39px;
    margin-bottom: 36px;
  }

  &--list {
    display: flex;
    flex-direction: column;
    gap: 22px 0;
    padding: 0 27px;
  }
}

.infoStack {
  display: flex;
  flex-direction: column;
  gap: 8px 0;
}

.listHead {
  padding-left: 8px;
}
