@use "css/base/variable/mixin" as *;

.comp {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.4rem;
  color: #656565;
}

.img {
  $width: 45px;
  width: $width;
  height: $width;
  border-radius: 50%;
}
